# Managed by Ansible role kanidm_unixd. Local edits will be overwritten.
uri = "{{ kanidm_unixd_uri }}"
verify_ca = {{ kanidm_unixd_verify_ca | lower }}
verify_hostnames = {{ kanidm_unixd_verify_hostnames | lower }}
