.terraform/

*.tfvars
*.tfvars.json

*.tfstate
*.tfstate.*
tfplan.binary

crash.log
crash.*.log

*.log

.terraform.lock.hcl

*.pyc
*.pyo
__pycache__/

roles/external/
collections/

*.retry

ansible.cfg

.env

.vscode/
