apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd
  namespace: kube-system
  annotations:
    helmcharts.cattle.io/force-upgrade: "20260830-01"
spec:
  chart: argo-cd
  repo: https://argoproj.github.io/argo-helm
  targetNamespace: argocd
  version: 7.4.4
  valuesContent: |
    configs:
      cm:
        url: https://{{ argocd_domain }}
        oidc.config: |
          name: Kanidm
          issuer: {{ argocd_oidc_issuer }}
          clientID: {{ argocd_oidc_client_id }}
          cliClientID: {{ argocd_oidc_client_id }}
          enablePKCEAuthentication: true
          requestedScopes:
            - openid
            - profile
            - email
            - groups
          requestedIDTokenClaims:
            groups:
              essential: true
      rbac:
        policy.default: ''
        policy.csv: |
          g, {{ argocd_oidc_admin_group }}, role:admin
          g, {{ argocd_oidc_viewer_group }}, role:readonly
      params:
        server.insecure: true
    server:
      ingress:
        enabled: false
