global
    daemon
    ssl-default-bind-ciphersuites TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-options no-sslv3 no-tls-tickets no-tlsv10 no-tlsv11

defaults
    log global
    mode tcp
    timeout client 1h
    timeout server 1h
    timeout connect 10s
    retries 3

# TLS SNI frontend for xray VPN passthrough and default web passthrough
frontend ft_tls
    bind *:443
    mode tcp
    # allow HAProxy to inspect the TLS ClientHello for SNI
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
            use_backend bk_xray if { req.ssl_sni -i appflowy.fickledev.com }
            default_backend bk_web


frontend ft_smtp
    bind *:25
    mode tcp
    default_backend bk_k3s_smtp
frontend ft_submission
    bind *:587
    mode tcp
    default_backend bk_k3s_submission
frontend ft_smtps
    bind *:465
    mode tcp
    default_backend bk_k3s_smtps
frontend ft_imap
    bind *:143
    mode tcp
    default_backend bk_k3s_imap
frontend ft_imaps
    bind *:993
    mode tcp
    default_backend bk_k3s_imaps
frontend ft_sieve
    bind *:4190
    mode tcp
    default_backend bk_k3s_sieve

backend bk_k3s_smtp
    mode tcp
    balance roundrobin
    server smtp_1 192.168.1.150:31332 check inter 10s send-proxy-v2
    server smtp_2 192.168.1.151:31332 check inter 10s send-proxy-v2
    server smtp_3 192.168.1.152:31332 check inter 10s send-proxy-v2
backend bk_k3s_submission
    mode tcp
    balance roundrobin
    server submission_1 192.168.1.150:31040 check inter 10s send-proxy-v2
    server submission_2 192.168.1.151:31040 check inter 10s send-proxy-v2
    server submission_3 192.168.1.152:31040 check inter 10s send-proxy-v2
backend bk_k3s_smtps
    mode tcp
    balance roundrobin
    server smtps_1 192.168.1.150:30757 check inter 10s send-proxy-v2
    server smtps_2 192.168.1.151:30757 check inter 10s send-proxy-v2
    server smtps_3 192.168.1.152:30757 check inter 10s send-proxy-v2
backend bk_k3s_imap
    mode tcp
    balance roundrobin
    server imap_1 192.168.1.150:30490 check inter 10s send-proxy-v2
    server imap_2 192.168.1.151:30490 check inter 10s send-proxy-v2
    server imap_3 192.168.1.152:30490 check inter 10s send-proxy-v2
backend bk_k3s_imaps
    mode tcp
    balance roundrobin
    server imaps_1 192.168.1.150:32015 check inter 10s send-proxy-v2
    server imaps_2 192.168.1.151:32015 check inter 10s send-proxy-v2
    server imaps_3 192.168.1.152:32015 check inter 10s send-proxy-v2
backend bk_k3s_sieve
    mode tcp
    balance roundrobin
    server sieve_1 192.168.1.150:32666 check inter 10s send-proxy-v2
    server sieve_2 192.168.1.151:32666 check inter 10s send-proxy-v2
    server sieve_3 192.168.1.152:32666 check inter 10s send-proxy-v2

# XRay backend (TCP passthrough to k3s nodes)
backend bk_xray
    mode tcp
    balance leastconn
    server xray_1 192.168.1.150:32080 check inter 10s
    server xray_2 192.168.1.151:32080 check inter 10s
    server xray_3 192.168.1.152:32080 check inter 10s

# Default web passthrough backend -> local nginx on loopback
backend bk_web
    mode tcp
    balance roundrobin
    server web_local 127.0.0.1:8443 check inter 10s
