<?php
// ------------------------------------------------------------
//
// txtedit.conf
//
// ------------------------------------------------------------
?>
<?php
    $MYDNSJP_URL       = 'https://www.mydns.jp/directedit.html';
    $MYDNSJP_MASTERID  = '{{ vps_proxy_mydns_master_id }}';
    $MYDNSJP_MASTERPWD = '{{ vps_proxy_mydns_master_password }}';
    $MYDNSJP_DOMAIN = '{{ vps_proxy_mydns_domain }}';
?>
